/* CSS style for the page */
/*=======================overall elements=======================*/
body {
    font-family: arial, sans-serif;
    
}
.bar-style {
    min-width: 600px; /*delete this and leave the value below*/
    /*    min-width: 1020px;*/
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    background-color: #f2f2f2;
    color: gray;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 0px;
    margin: 0px;
}
.bar-style a {
    color: gray;
    text-decoration: none;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
    
}
.bar-style a:hover {
    text-decoration: underline;
}
.bar-style p{
    margin: 0px;
}
.f-left {
    float: left;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin: 0px;
}
.f-right {
    float: right;
/*
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
*/
}
/*=======================top section===========================*/
.header {
    width: 102%;
    position: relative;
    top: -34px;
    left: -8px;
    height: auto;
    padding-top: 25px;
}
#bar-top-1 {
    height: 50px;
    padding-top: 15px;
/*    border-style: dotted;*/
}
#bar-top-2 {
    width: 640px;
/*    border-style: dotted;*/
    height: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;

}
#google-logo {
    background-image: url("../images/google-logo.png");
    background-repeat: no-repeat;
    background-size: 120px 40px;
    background-position: center;
    width: 120px;
    height: 40px;
    border-left: 12px;
    position: relative;
    top: 15px;
    left: 5px;
    float: left;
    z-index: 2;
/*    padding: 3px 0;*/
/*    left: 12px;*/
/*
    position: relative;
    top: 0;
    left: 0;
*/
}
#search-form {
    width: 640px;
    height: 45px;
    box-shadow: 1px 1px 5px grey;
    margin-left: 0px;
    float: left;
    background-color: white;
}
#search-form:hover {
   box-shadow: 3px 3px 7px grey;
}
#input-2 {
    padding: 9px;
    height: 26px;
    width: 522px;
    float: left;
    font-size: 17px;
    /* border value to 0 to have no visible border the style is being given by the box-shadow attribute in #search-form */
    border: 0; 
}
#mic-img {
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
/*    border-style: dotted;*/
/*    padding: ;*/
    margin: 8px 8px;
    width: 30px;
    height: 30px;
    float: right;
}
#mic-img .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    font-weight: bold;
/*    font-family: arial, sans-serif;*/
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 123x;
    width: 100px;
    padding: 5px;
    /* Position the tooltip text */
    position: relative;
    float: left;
    z-index: 1;
    top: 40px;
    right: 50px;
    }
#mic-img:hover .tooltiptext {
    visibility: visible;
}
#loupe-img {
background-image: url("../images/loupe.png");
    background-repeat: no-repeat;
background-size: 25px 25px;
    background-position: center;
/*    border-style: dotted;*/
/*    padding: ;*/
    margin: 8px 8px;
    width: 30px;
    height: 30px;
    float: right;
}
.google-notif {
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    background-image: url("../images/bells2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 22px;
    padding: 5px;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
.google-notif:hover {
    background-image: url("../images/bells.png");
    background-color: lightgray;
    border-color: lightgray;
     
}
#button-login {
    border: none;
    border-radius: 5%;
    background-color: #4885ed;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#button-login:active {
    background-color: blue;
    
}
#a-selected {
    height: 26px;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-weight: bold;
    border-bottom: solid;
    border-color: #4885ed;
}
#bar-top-2 a {
    color: #4885ed;
}
#a-selected a:hover {
    text-decoration: none;
}
#a-unselected {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    
}
#a-unselected a {
    color: gray;
}
#a-unselected a:hover {
    color: black;
    text-decoration: none;
}
#tool-button {
    border: none;
    background-color: #f2f2f2;
    color: gray;
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#tool-button:active {
    background-color: lightgray;
}
#tool-button:hover {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 5%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
    padding-right: 19px;
}
/*=======================middle section=======================*/
.main-body {
    height: auto;
    width: 1020px;
    padding-left: 150px;
    margin: 0;
    border-style: solid;
    border-color: gray;
    border-width: thin;
}
.result-preview {
    height: auto;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.collapse-ask {
    height: 30px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.result-each {
    height: 20px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.related-search {
    height: 20px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.related-search-gallery {
    height: 20px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.related-search-table {
    height: 20px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.page-count {
    height: 20px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
/*=======================bottom section=======================*/
.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#bar-bottom {
    height: 40px;
}
