/* CSS style for the page */
/*
.body {
    margin: 0px!important;
    padding: 0px!important;
}
*/
.top-bar {
/*    border-style: dotted;*/
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px
/*    margin: 0px 0px;*/
}
.top-bar a{
    color: black;
}
.top-bar a:hover{
    text-decoration: underline;
}
.box {
    height: 10%;
    width: 60px;
    font-family: arial, sans-serif;
    color: #f5f5f5;
    font-size: 13px;

/*    border-style: dashed;*/
/*    float: right;*/
}
.box a {
    text-decoration: none;
}
.box p{
    
/*    padding: 0;*/
    width: 100px;
    color: gray;
    font-size: 15px;
    margin-top: 0px;
    
}
.f-left {
    float: left;
    margin-left: 20px;
    padding: 15px;
}
.f-right {
    float: right;
    padding: 15px;
    margin-right: 1px;
}
.f-right-t {
    height: 100% !important;
    float: right;
    margin-right: 1px;
}
.main-center {
    /* border-style: dotted; */
    /* position: relative; */
    width: 484px;
    height: 550px;
/*    padding: none;*/
    margin: 0 auto;
    font-family: arial, sans-serif;
    border-color: blue;
}
/*
.main-center * {
     border-style: dotted; 
}
*/
.main-center p {
    padding: 0;
    margin: 0 auto;
    width: 185px;
    font-size: small;
}
#google-logo {
    background-image: url("../images/google-logo.png");
    background-repeat: no-repeat;
    /* border-style: dotted; */
    width: 272px;
    height: 92px;
    margin: 0 auto;
    margin-bottom: 27px;
    margin-top: 198px;
}
.bell {
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    position: relative;
    top: -11px;
    background-image: url("../images/bells2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 22px;
    padding: 5px;
    border-radius: 100%;
    margin: 0 auto;
}
.bell:hover {
    background-image: url("../images/bells.png");
    background-color: lightgray;
    border-color: lightgray;
     
}
#search-form {
    width: 100%;
    height: 46px;
    box-shadow: 1px 1px 5px grey;
    margin-bottom: 10px;
}
#search-form:hover {
   box-shadow: 3px 3px 7px grey;
}
/*
#search-form:active {
    border: none;
    border-color: white;
}
*/
#input-2 {
    padding: 10px;
    height: 26px;
    width: 84%;
    float: left;
    /* border value to 0 to have no visible border the style is being given by the box-shadow attribute in #search-form */
    border: 0; 
}
/*
#input-2:focus {
    border: none;
}
*/
#mic-img {
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 10px;
/*    border-style: dotted;*/
    padding: 5px 5px;
    margin: 5px 5px;
    width: 30px;
    height: 30px;
    float: right; 
}
#mic-img .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 123x;
    width: 100px;
    padding: 5px;
    /* Position the tooltip text */
    position: relative;
    float: left;
    z-index: 1;
    top: 40px;
    right: 50px;
    }
#mic-img:hover .tooltiptext {
    visibility: visible;
}

.button-box {
    width: 337px;
    margin: 0 auto;
    border-color: yellow;
    padding-top: 28px;
    padding-bottom: 23px;
    /* border-color: red; */
}
.buttom {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: #757575;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    min-width: 54px;
    height: 36px;
    padding: 0 16px;
    margin: 0 4px;
}
.buttom:hover {
    border: 1px solid lightgray;
    color: black;
    
}
.footer {
    width: 100%;
    position:absolute;
    bottom: 0;
    left: 0;
    height: auto;
   }
/*
#b-style {
}
*/

.bottom-bar {
/*    border-style: dotted;*/
    height: 41px;
/*    margin: 0px 0px;*/
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    background-color: #f2f2f2;
    color: #f5f5f5;
    padding-left: 0px;
}
.bottom-bar a {
    color: gray;
/*    text-decoration: none;*/
}
.bottom-bar a:hover {
    text-decoration: underline;
}


/*
#input-1 {
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-position: 450px;
    background-size: 20px 20px;
    padding: 10px;
    height: 30px;
    width: 96%;
     border value to 0 to have no visible border the style is being given by the box-shadow attribute in #search-form 
    border: 0; 
}
*/
