/* CSS style for the page */
/*=======================overall elements=======================*/
body {
    font-family: arial, sans-serif;
    
}
.bar-style {
    min-width: 1020px;
    border-bottom: solid;
    border-bottom-width: thin;
    border-bottom-color: lightgray;
    background-color: #f2f2f2;
    color: gray;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 150px;
    padding-right: 0px;
    margin: 0px;
}
.bar-style a {
    color: gray;
    text-decoration: none;
    font-size: 13px;
    padding-top: 0px;
    margin-top: 0px;
    
}
.bar-style a:hover {
    text-decoration: underline;
}
.bar-style p{
    margin: 0px;
}
.f-left {
    float: left;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    margin: 0px;
}
.f-right {
    float: right;
}
.arrow-down{
    border: 4px solid transparent;
    border-top-color: green;
    display: block;
    width: 0px;
    height: 0px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
/*=======================top section===========================*/
.header {
    width: 102%;
    position: relative;
    top: -34px;
    left: -8px;
    height: auto;
    padding-top: 25px;
}
#bar-top-1 {
    height: 50px;
    padding-top: 15px;
    min-width: 1020px;
}
#bar-top-2 {
    width: 640px;
    height: 25px;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;

}
#google-logo {
    background-image: url("../images/google-logo.png");
    background-repeat: no-repeat;
    background-size: 120px 40px;
    background-position: center;
    width: 120px;
    height: 40px;
    border-left: 12px;
    position: relative;
    top: 15px;
    left: 5px;
    float: left;
    z-index: 2;
}
#search-form {
    width: 640px;
    height: 45px;
    box-shadow: 1px 1px 5px grey;
    margin-left: 0px;
    float: left;
    background-color: white;
}
#search-form:hover {
   box-shadow: 3px 3px 7px grey;
}
#input-2 {
    padding: 9px;
    height: 26px;
    width: 522px;
    float: left;
    font-size: 17px;
    /* border value to 0 to have no visible border the style is being given by the box-shadow attribute in #search-form */
    border: 0; 
}
#mic-img {
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: center;
    margin: 8px 8px;
    width: 30px;
    height: 30px;
    float: right;
}
#mic-img .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    height: 123x;
    width: 100px;
    padding: 5px;
    position: relative;
    float: left;
    z-index: 1;
    top: 40px;
    right: 50px;
    }
#mic-img:hover .tooltiptext {
    visibility: visible;
}
#loupe-img {
background-image: url("../images/loupe.png");
    background-repeat: no-repeat;
background-size: 25px 25px;
    background-position: center;
    margin: 8px 8px;
    width: 30px;
    height: 30px;
    float: right;
}
.google-notif {
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    background-image: url("../images/bells2.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 22px;
    padding: 5px;
    border-radius: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.google-notif:hover {
    background-image: url("../images/bells.png");
    background-color: lightgray;
    border-color: lightgray;
     
}
#button-login {
    border: none;
    border-radius: 5%;
    background-color: #4885ed;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
#button-login:focus {
    outline: none;
}
#button-login:active {
    background-color: dodgerblue;
    
}
.google-app {
    border-style: solid;
    border-color: #f2f2f2;
    background-color: #f2f2f2;
    background-image: url("../images/app1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 19px;
    height: 22px;
    padding: 5px;
    border-radius: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.google-app:hover {
    border-color: #f2f2f2;
    background-color: lightgray;
    background-image: url("../images/app2.png");
    
}
#a-selected {
    height: 26px;
    padding-top: 2px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    font-weight: bold;
    border-bottom: solid;
    border-color: #4885ed;
    cursor: pointer;
}
#bar-top-2 a {
    color: #4885ed;
}
#a-selected a:hover {
    text-decoration: none;
}
#a-unselected {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 8px;
    margin-right: 8px;
    
}
#a-unselected a {
    color: gray;
}
#a-unselected a:hover {
    color: black;
    text-decoration: none;
}
#tool-button {
    border: none;
    background-color: #f2f2f2;
    color: gray;
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#tool-button:focus {
    outline: none;
}
#tool-button:active {
    background-color: lightgray;
}
#tool-button:hover {
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    border-radius: 5%;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 19px;
    padding-right: 19px;
}
/*=======================middle section=======================*/
.main-body {
    height: auto;
    width: 1020px;
    padding-left: 150px;
    margin-top: -30px;
    border-color: gray;
    border-width: thin;
    font-size: 13px;
    color: gray;
}
.result-preview {
    width: 620px;
    border-style: solid;
    border-color: #f2f2f2;
    border-width: thin;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #f2f2f2;
    margin-left: -11px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.result-preview table, th, td {
    width: 637px;
    padding: 5px 10px;
    margin-left: -16px;
    margin-right: -15px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: #f2f2f2;
    font-size: 18px;
}
.result-preview table {
    border: none;
}

.result-preview th {
    text-align: left;
    color: gray;
    font-weight: 500;
}
.result-preview P, table, th, tr, h2 {
    color: black;
}
.result-preview p {
    font-size: 16px;
}
#preview-style-a {
    color: gray;
    text-decoration: none;
    margin-left: 25px;
    font-size: 15px;
}
.collapse-ask {
    height: 30px;
    width: auto;
 border-style: dotted;
    border-color: gray;
    border-width: thin;
}
.result-each {
    height: auto;
    width: auto;
    border-color: gray;
    border-width: thin;
    margin-bottom: 30px;
}
.result-title {
    font-size: 18px;
    text-decoration: none
}
.result-title:hover {
    text-decoration: underline;
}
.result-each p {
    width: 600px;
    margin: 5px 0px;
    color: dimgrey;
}
.green-link {
    color: green;
    font-size: 14px;
    float: left;
    text-decoration: none;
}
.related-search {
    height: auto;
    width: auto;
    border-color: gray;
    border-width: thin;
}
.related-search-table {
    height: auto;
    width: 600px;
    font-size: 12px;
    margin: 0px;
    border: 0px;
}
.related-search-table th, td {
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    color: darkslategray;
}
.related-search-table td {
    font-size: 14px;
    color: #1617a6;
}
#tiny-gray {
    color: gray;
    font-size: 12px;
    margin-bottom: 0px;
}
#p-mod1 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.collage-ind {
    padding: 3px;
    margin: 3px;
}
#table-2 td, th {
    border-color: transparent;
}
.page-count {
    height: auto;
    width: auto;
    border-color: gray;
    border-width: thin;
}
/*=======================bottom section=======================*/
.footer {
    width: 102%;
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 0px;
}
#bar-bottom {
    height: 40px;
}
